.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 15px 0 15px;
}

.notLoggedHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px 15px 0 15px;
}

.header-right-block {
  align-items: flex-end;
}

.city-list {
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 1.4em;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(62, 150, 166, 1);
}