.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 15px 0 15px;
}

/* .dropdown {
  font-size: 12px;
  padding: 4px;
} */

.notLoggedHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px 15px 0 15px;
}

.header-right-block {
  align-items: flex-end;
}

@media only screen and (max-width: 520px) {
  .header {
    flex-direction: column;
    width: 100%;
    margin: 0;
    align-items: center;
    margin-top: 1em;
  }

  .header-right-block {
    margin-top: 1em;
    font-size: .8em;
  }


}