nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  color: white;
  font-weight: 600;
  width: 100%;
  padding: 1em;
}

.log {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  color: black;
  background-color: white;
  padding: 0.5em;
}

.log:hover {
  cursor: pointer;
}

@media only screen and (max-width: 520px) {
  .log {
    height: 30px;
    width: 90px;
    font-size: 12px;
  }
  svg {
    height: 22px;
  }
}