<div class="forecast-container">
  <div class="header">
    <app-header
      [listOfFavorites]="favorites"
      [currentUnitSystem]="unitSystem"
      (changeUnit)="changeUnit($event)"
      [isLoggedIn]="isLoggedIn">
    </app-header>
  </div>

  <div class="forecast-list">
    <h2 class="forecast-title">Forecast for 5 days</h2>
    <p-carousel
      [value]="forecastList"
      [responsiveOptions]="responsiveOptions">
      [circular]="false"
      [showNavigators]="true"
      [draggable]="true">
      <ng-template let-forecast pTemplate="item">
        <app-forecast-item
          [forecast]="forecast"
          [measureOfTemp]="measureOfTemp"></app-forecast-item>
      </ng-template>
    </p-carousel>
  </div>
</div>
