.forecast-list h2 {
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

.forecast-list {
  border: blue solid 2px;
  position: absolute;
  /* display: flex; */
  width: 70%;
  margin-top: -15%;
  /*  height: 20%;
  margin: 1em auto 1em auto;
  background-color: #766452;
  border-radius: 8px;
  border: 1px solid #a6a6a6;
  padding: 30px;
  color: #fff; */
}