.forecast-item {
  background-color: #FFF;
  border-radius: 10px;
  color: var(--black);
  margin: .5em;
  width: 10em;
}

.forecast-item-content {
  margin: .3em;
  text-align: center;
}


.forecast-temp {
  color: var(--dark-text);
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.5;
}

.forecast-date {
  color: var(--darker-grey);
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5;
}

.forecast-time {
  color: var(--darker-grey);
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5;
  padding-bottom: 1.2em;
}

.forecast-item-content p {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 500;
}

.forecast-icon {
  padding-top: .8em;
}

.forecast-icon img {
  max-width: 85px;
}