<!-- <div class="container">
  <div class="upper-data">

    <img src="../assets/hot.jpg" *ngIf="currentTime<=sunsetTime">
    <img src="../assets/cold.jpg" *ngIf="sunsetTime<currentTime">

    
    <div class="weather-data">
      <form class="form-field">
        <label>Search by city</label>
        <input class="input-field" type="text" name="cityName" [(ngModel)]="cityName">
       <button class="search-button" (click)="getWeatherData(cityName)"> Search </button>
      </form>
      <div class="location"> {{nameToShow}} </div>
      <div class="temperature"> {{WeatherData.currentTemperature}}° C </div>
    </div> 

  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More information 
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/min.jpg">
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{WeatherData.minTemperature}}° C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max.jpg">
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{WeatherData.maxTemperature}}° C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.jpg">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{WeatherData.humidity}} %
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.jpg">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{WeatherData.wind}} km/h
        </div>
      </div>
    </div>
  </div>
</div>-->

<app-navbar></app-navbar>
<router-outlet></router-outlet>
