 :root {
     --white: #F2F2F2;
     --black: #0C0C0D;
     --light-grey: #AAAEB2;
     --dark-text: #4A5856;
     --darker-grey: #797476;
     --light-blue: #5B96AD;
     --dark-blue-title: #1F326F;
     --dark-green-title: #0A595B;
 }

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     background-color: rgb(125, 105, 186);
     background-image: linear-gradient(170deg, rgba(125, 105, 186, 1) 7%, rgba(62, 150, 166, 1) 49%, rgba(12, 186, 153, 1) 79%);
     font-family: Verdana, Geneva, Tahoma, sans-serif;

 }

 .p-carousel .p-carousel-indicators {
     display: none;
 }

 html,
 body {
     height: 100%;
 }

 body {
     margin: 0;
     font-family: Roboto, "Helvetica Neue", sans-serif;
 }

 .mdc-switch__icons::before {
     display: inline-block;
     text-rendering: auto;
     -webkit-font-smoothing: antialiased;
 }

 .mdc-switch__icon::before {
     font: var(--fa-font-solid);
     content: "\f007";
 }

 .mdc-switch__icon--off::before {
     font: var(--fa-font-solid);
     content: "\f1ea";
 }

 .mdc-switch__icon--on::before {
     font: var(--fa-font-solid);
     content: "\f1ea";
 }

 .p-carousel-item {
     display: flex;
     justify-content: center !important;
 }

 @media only screen and (max-width: 768px) {
     .switch.switch-small {
         height: 18px ! important;
     }

     .switch.switch-small small {
         width: 18px !important;
         height: 18px ! important;
     }

     .p-dropdown {
         height: 40px !important;
         align-items: center;
     }

     .p-dropdown-label {
         font-size: 14px !important;
     }

     .p-dropdown-panel .p-dropdown-items {
         font-size: 14px !important;
         padding: 0 !important;
         height: 150px !important;
     }
 }


 @media only screen and (max-width: 520px) {
     .switch.switch-small {
         height: 14px ! important;
     }

     .switch.switch-small small {
         width: 14px !important;
         height: 14px ! important;
     }

     .p-dropdown {
         height: 30px !important;
         align-items: center;
     }

     .p-dropdown-label {
         font-size: 12px !important;

     }

     .p-dropdown-panel .p-dropdown-items {
         font-size: 12px !important;
         padding: 0 !important;
         height: 120px !important;
     }
 }