 :root {
     --white: #F2F2F2;
     --black: #0C0C0D;
     --light-grey: #AAAEB2;
     --dark-text: #4A5856;
     --darker-grey: #797476;
     --light-blue: #5B96AD;
     --dark-blue-title: #1F326F;
     --dark-green-title: #0A595B;
 }

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     background-color: rgb(125, 105, 186);
     background-image: linear-gradient(170deg, rgba(125, 105, 186, 1) 7%, rgba(62, 150, 166, 1) 14%, rgba(12, 186, 153, 1) 21%);
     font-family: Verdana, Geneva, Tahoma, sans-serif;

 }

 /* login style */
 .login-container {
     width: 900px;
     height: 50vh;
     background-color: #66523e;
     border-radius: 20px;
     box-shadow: 10px 10px 10px var(--shadow-dark);
 }

 .login-title {
     font-family: 'Dancing Script', cursive;
     color: var(--white);
     font-size: 60px;
     text-align: center;
     padding-top: 15px;
     padding-bottom: 30px;
 }

 .form-field-login {
     display: flex;
     flex-direction: column;
     color: white;
     font-size: 28px;
     font-weight: 600px;
     height: 100px;
     margin-top: 120px;
     align-items: center;
     justify-content: center;

 }

 .input-field-login {
     margin: 20px;
     padding: 10px;
     width: 700px;
     font-size: 26px;
     border-radius: 6px;
     margin-top: 10px;
     border-color: #FFF;
     background-color: rgba(0, 0, 0, 0.3);
     color: white;
 }

 .log-in-button {
     width: 600px;
     font-size: 26px;
     padding: 10px;
     font-weight: 600;
     border-radius: 6px;
     margin-top: 10px;
     border-color: #FFF;
     background-color: rgba(0, 0, 0, 0.3);
     color: white;
     margin-bottom: 20px;
 }

 .register-button {
     font-size: 21px;
     padding: 10px;
     background: none;
     border: none;
     color: white;
     text-decoration: underline;

 }

 /* register style */

 .register-container {
     width: 900px;
     height: 60vh;
     background-color: #66523e;
     border-radius: 20px;
     box-shadow: 10px 10px 10px var(--shadow-dark);
 }

 .register-title {
     font-family: 'Dancing Script', cursive;
     color: var(--white);
     font-size: 60px;
     text-align: center;
     padding-top: 15px;
     padding-bottom: 30px;
 }

 .form-field-register {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;

 }

 .input-field-register {
     margin: 20px;
     padding: 10px;
     width: 700px;
     font-size: 26px;
     border-radius: 6px;
     margin-top: 10px;
     border-color: #FFF;
     background-color: rgba(0, 0, 0, 0.3);
     color: white;
 }

 .button-to-register {
     width: 600px;
     font-size: 26px;
     padding: 10px;
     font-weight: 600;
     border-radius: 6px;
     margin-top: 15px;
     border-color: #FFF;
     background-color: rgba(0, 0, 0, 0.3);
     color: white;
     margin-bottom: 20px;
 }

 .p-carousel .p-carousel-indicators {
     display: none;
 }

 html,
 body {
     height: 100%;
 }

 body {
     margin: 0;
     font-family: Roboto, "Helvetica Neue", sans-serif;
 }

 .mdc-switch__icons::before {
     display: inline-block;
     text-rendering: auto;
     -webkit-font-smoothing: antialiased;
 }

 .mdc-switch__icon::before {
     font: var(--fa-font-solid);
     content: "\f007";
 }

 .mdc-switch__icon--off::before {
     font: var(--fa-font-solid);
     content: "\f1ea";
 }

 .mdc-switch__icon--on::before {
     font: var(--fa-font-solid);
     content: "\f1ea";
 }