.home-content {
  width: 82%;

  display: flex;
  font-size: 0.7em;
  height: 100%;
  align-items: center;
  margin: -6em auto 0 auto;
  border-radius: 20px;
  box-shadow: 10px 10px 10px var(--shadow-dark);
}

.left-container {
  background-color: white;
  width: 27%;
  height: 570px;
  margin: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 10px 10px 10px var(--shadow-dark);
}

.right-container {
  height: 570px;
  width: 75%;
  background-color: #f3f2f5;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 10px 10px 10px var(--shadow-dark);
}

/* home page style */
.upper-data {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 67%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.lower-data img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-bottom-left-radius: 18px;
}

.lower-data {
  position: relative;
  height: 33%;
}

.form-field {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.2em;
  font-weight: 600px;
  height: 100px;
  margin-bottom: 35px;
  margin-top: 35px;
  align-items: center;
  justify-content: center;
}

.form-field label {
  background-color: rgb(125, 105, 186);
  background-image: linear-gradient(170deg, rgba(125, 105, 186, 1) 7%, rgba(62, 150, 166, 1) 49%, rgba(12, 186, 153, 1) 79%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 1.2em;
  font-weight: 600;
}

.input-field {
  font-size: 1em;
  border-radius: 3px;
  margin-top: 10px;
  border: 1.5px solid rgba(62, 150, 166, 1);
  color: black;
  text-indent: .5em;
}

.search-button {
  color: white;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #FFF;
  background-color: rgb(125, 105, 186);
  background-image: linear-gradient(170deg, rgba(125, 105, 186, 1) 7%, rgba(62, 150, 166, 1) 49%, rgba(12, 186, 153, 1) 79%);
  padding: 5px;
  margin-top: 10px;
}

button:hover {
  cursor: pointer;
}

.weather-data {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--shadow-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.location {
  display: flex;
  color: black;
  text-align: center;
  font-size: 2.5em;
  font-weight: 600;
}

.addFav {
  margin-left: 10px;
  fill: rgb(209, 6, 6);
}

.removeFav {
  margin-left: 10px;
  fill: rgb(178, 178, 178);
}

.temperature {
  position: absolute;
  display: flex;
  color: #fff;
  font-size: 2.4em;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  background-color: rgb(125, 105, 186);
  background-image: linear-gradient(170deg, rgba(125, 105, 186, 1) 7%, rgba(62, 150, 166, 1) 49%, rgba(12, 186, 153, 1) 79%);
  border-radius: 50%;
  width: 3em;
  height: 3em;
  left: 4.2em;
  top: -1.3em;
}

.description {
  font-size: 1.3em;
  font-style: italic;
  margin-top: -1.1em;
}

@media screen and (max-width: 768px) {
 .home-content {
  
  flex-direction: column;
  margin-top: 10px;
 } 

 .upper-data {
  height: 60%;
 }

 .lower-data {
  height: 40%;
 }

 .left-container {
  width: 60%;
  height: 300px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 20px;
 }

 .right-container {
  width: 60%;
  height: 300px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
 }

 .form-field {
  display: flex;
  flex-direction: row;
  margin-top: -60px;
 }

 .form-field label {
  display: none;
 }

 .search-button {
  font-size: 0.8em;
  padding: 2px;
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
 }

 .input-field {
  font-size: 0.9em;
  margin-right: -1.2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
 }

 .location {
  margin-top: -50px;
  font-size: 1.7em;
 }

 .icon {
  height: 50px;
 }

 .description {
  height: 10px;
 }

 .temperature {
  font-size: 1.3em;
  left: 10em;
  font-weight: 200;
  width: 3.5em;
  height: 3.5em;
  margin: auto;
 }
 .lower-data img {
  border-radius: 0;
 }
}